<div class="about-container">
    <h2>Aplicação</h2>
    <p>Ferramenta útil para contar palavras, caracteres e calcular o tempo estimado de leitura de um texto e lista as top 10 palavras mais frequentes no texto.</p>
    <p>Tecnologias usadas: Angular e TypeScript.
    <h2>Projeto</h2>
    <p>Projeto criado para demonstrar conceitos do Angular, tais como SPA, Componenentes, Módulos e Diretivas. 
    </p>
    <p>Confira o projeto no <a href="https://github.com/seu-usuario/seu-projeto" target="_blank">GitHub</a>.</p>
    
  </div>
  